<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href="https://stelabrego.com/favicon.png")
    link(rel="stylesheet", href="/main.scss")
    link(href='https://fonts.googleapis.com/css?family=Cantarell:700|Open+Sans:400,700&display=swap', rel='stylesheet')
    title Résumé | Stel Abrego
  body.letter
    section.sheet.padding-10mm
      article#resume
        h1= name
        p= location + " | " + email + " | " + phoneNumber
        .columns
          .column.is-4
            h2 Education
            if education
              for item in education
                p=item.institution
                p=item.location
                p=item.degree
                p="GPA " + item.gpa
          .column.is-8
            h2 Technical Skills
            if technicalSkills
              for skill in technicalSkills
                p
                  span.bold=skill.category + ": "
                  =skill.specifics.join(', ')
        h2 Projects
        if projects
          for project in projects
            p.experience-item
              b=project.title + ": "
              =project.tools.join(', ')
              br
              =project.description
        h2 Experience
        if experience
          for item in experience
            .experience-item
              p
                b=item.organization + ", " + item.role + ', ' + item.location + ' | ' + item.yearStart
                  if !item.yearEnd
                    =' - present'
                  else if item.yearStart === item.yearEnd
                    = ''
                  else
                    = ' - ' + item.yearEnd
              ul
                for accomplishment in item.accomplishments
                  li
                    p=accomplishment
        h2 Activities
        ul
          if activities
            for activity in activities
              li
                p=activity
          



